body {
  margin: 0;
  background: #000;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  --icon-size: 190px;
  --center-size: 190px;
  --slide-distance: 85px;
  position: relative;
  width: 900px;
  height: 900px;
}

.icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  background: #050505;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.8s ease, opacity 0.5s ease, filter 0.5s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* you MUST BE square */
.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.center {
  position: absolute;
  width: var(--center-size);
  height: var(--center-size);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.78);
  border: 2px solid transparent;
  box-shadow:
    0 0 18px rgba(224, 131, 70, 0.89),
    inset 0 0 18px rgba(102, 255, 204, 0.04);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5;
}

.top {
  left: 50%;
  top: calc(50% - (var(--center-size) / 2) - var(--icon-size));
  transform: translateX(-50%);
}

.bottom {
  left: 50%;
  top: calc(50% + (var(--center-size) / 2));
  transform: translateX(-50%);
}

.left {
  top: 50%;
  left: calc(50% - (var(--center-size) / 2) - var(--icon-size));
  transform: translateY(-50%);
}

.right {
  top: 50%;
  left: calc(50% + (var(--center-size) / 2));
  transform: translateY(-50%);
}

/* icon slides OUTWARD */
/* better than inward.... */
.top.move {
  transform: translate(-50%, calc(-1 * var(--slide-distance)));
}

.bottom.move {
  transform: translate(-50%, var(--slide-distance));
}

.left.move {
  transform: translate(calc(-1 * var(--slide-distance)), -50%);
}

.right.move {
  transform: translate(var(--slide-distance), -50%);
}

.fade-out {
  opacity: 0.18;
  filter: blur(1px);
}

#waveCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: block;
}

#muteBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
  padding: 7px 12px;
  background: #000;
  border: 1px solid #ec9c40;
  color: #ec9c40;
  cursor: pointer;
}