*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: #333;
  }
  
  .container {
      text-align: center;
      padding: 20px;
  }
  
  header { 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
  }
  
  header h1 {
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 2px;
  }
  
  nav ul {
      display: flex;
      gap: 15px;
      list-style: none;
  }
  
  nav a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      text-transform: uppercase;
  }
  
  main {
      margin-top: 50px;
  }
  
  main h2 {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 2px;
  }
  
  main p {
      margin-top: 20px;
      font-size: 16px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .center {
      margin: auto;
      width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;
    }
    
    .daily-quote {
      border: 2px solid #E59400; /* Border color matching the pink in the image */
      padding: 20px;
      margin-top: 20px;
      border-radius: 10px;
      background-color: #f0f0f0;
    }
